:root{
    --candle-color: grey; /* green: rgb(0, 167, 114) , red: rgb(255, 50, 50)*/
}


.candle-body {
    position: relative;
    background-color: var(--candle-color);
    width: 40px;
    height: 100px;
    margin: 300px auto;
}

.candle-wick-top {
    position: absolute;
    width: 3px;
    height: 40px;
    background: var(--candle-color);
    top: -40px;
    left: 50%;
    transform: translate(-50%, 0);
    overflow: visible;
}

.candle-wick-bottom {
    position: absolute;
    width: 3px;
    height: 40px;
    background: var(--candle-color);
    bottom: -40px;
    left: 50%;
    transform: translate(-50%, 0);
    overflow: visible;
}